@model IQueryable<Sami_Archive.Models.Book>

@foreach (var p in Model ?? Enumerable.Empty<Sami_Archive.Models.Book>())
{
    <div>
        <h3>@p.Title</h3>
        @p.Description
        @p.Genre
    </div>
}