<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SamisArchive</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div>
                    <a class="col navbar-brand" asp-controller="Home" asp-action="Index">
                        Samis Archive
                    </a>
                </div>
                <div class="col-6 text-end">
                    <nav class="nav justify-content-end">
                        <a class="nav-link text-white" asp-controller="Book" asp-action="Create">Create Book</a>
                        <a class="nav-link text-white" asp-controller="Book" asp-action="List">Books List</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div id="genre" class="col-3">
            Filter Genre buttons here
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>