@model Book

<form asp-action="Create" method="post" class="border border-black p-3 mb-3 col-6">
    <div class="form-group">
        <div class="mb-3 col-3">
            <label asp-for="BookTitle" class="form-label"></label>
            <input asp-for="BookTitle" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="mb-3 col-3">
            <label asp-for="Genres" class="form-label"></label>
            <input asp-for="Genres" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="mb-3 col-3">
            <label asp-for="Authors" class="form-label"></label>
            <input asp-for="Authors" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="mb-3">
            <label asp-for="BookDescription" class="form-label"></label>
            <input asp-for="BookDescription" class="form-control" />
        </div>
    </div>
    <button class="btn btn-primary">Add</button>
</form>
