@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">
        Home Page
    </p>

    <section class="mt-4">
        <h2>H2 in a section</h2>
    </section>

    <section class="mt-4">
        <h2>H2 in another section</h2>
        <ul>
            <li><a href="/swagger">Swagger UI</a></li>
        </ul>
    </section>
</div>